[alias]
    # Script-based aliases
    email-guess = ! ~/.git_scripts/email-guess.sh
    plutil-toxml1 = ! ~/.git_scripts/plutil-toxml1.sh

    # Git internal aliases
    branches = branch -a -vv

    # Fast-forward _only_
    ff = pull --ff-only
[init]
    templatedir = ~/.git_templates/
[user]
    name = David Warden
[pager]
    branch = false
[commit]
    verbose = true
[merge]
	conflictstyle = diff3
[core]
	editor = vim
