[alias]
    # Script-based aliases
    email-guess = ! ~/.git_scripts/email-guess.sh
    plutil-toxml1 = ! ~/.git_scripts/plutil-toxml1.sh

    # Git internal aliases
    branches = branch -a -vv

    # Fast-forward _only_
    ff = pull --ff-only
[init]
    templatedir = ~/.git_templates/
[user]
    name = David Warden
    email = warden@geneseo.edu
[pager]
    branch = false
[commit]
    verbose = true
[merge]
    conflictstyle = diff3
[core]
    editor = vim
    pager = "~/.git_scripts/diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX"
[interactive]
    diffFilter = "~/.git_scripts/diff-so-fancy/diff-so-fancy --patch"
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[push]
	default = simple
