<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>C9EF693F-D091-4B56-9CA0-776CA6363A82</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dash</string>
			<key>text</key>
			<string>Search Dash for '{query}'</string>
			<key>url</key>
			<string>dash://{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
